.container{
  display: flex;
  width: 100vw;
  min-height:100vh;
  background-color: #192C3F;
  font-family: 'Comfortaa', cursive;
}

.left{
  width: 65%;
  padding: 50px 130px;
}

.left img{
  width: 50%;
}

.text{
  color: #fff;
}

.text{
  padding: 0 100px;
}

.text h1{
  margin: 20px 0;
}

.text p{
  opacity: 0.9;
  line-height: 30px ;
  font-size: 15px;
}

.right{
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width:450px){
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .left{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  
  .left img{
    width: 70%;
  }
  
  .text {
    padding: 0 20px;
  }

  .text p{
    margin-top: -5px;
    line-height: 17px;
    font-size: 12px;
  }

  .right{
    padding: 0;
    width: 100%;
  }
}